html {
   --G9_dunkelgrün: rgb(19, 102, 50);
   --G9_hellgrün: rgb(197, 230, 188);
   --G9_hellgrau: rgb(245,245,245);
   --G9_schriftart: Candara, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   --G9_schriftfarbe: rgb(0,0,0);
   --G9_schriftgröße: 18px;
   --G9_navbar_height: 50px;

   scroll-behavior: smooth;
   background-color: var(--G9_hellgrau);
}

/* border-box aktivieren */ 
*, *::before, *::after { box-sizing: border-box; }

/* Bilder und Videos mit flexibler Breite einbinden */ 
img, video { max-width: 100%; height: auto; }


body {
   max-width: none;
   padding: 0;
   margin: 0;
   font-size: var(--G9_schriftgröße);
   font-family: var(--G9_schriftart);
   color: var(--G9_schriftfarbe);
}

@media (max-width: 640px) {
   body {font-size: 16px; }
}

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote { 
   margin-top: 0;                            /* Collapsing Margins vermeiden */
}


.inside {
   max-width: 1120px;
   margin: 0 auto;
   padding: 0 30px 0 30px;
}

h1 {
   font-size: 30px;
   text-align: center;
}

a {
   color: var(--G9_dunkelgrün);
}

main section {
   padding-top: 100px;
}



/* Fein-Layout header */


      @media (orientation: landscape) {
         .text_header_portrait { display: none; }
      }

      @media (orientation: portrait) {
         .text_header { display: none; }
      }

      header .hintergrund {
         width: 100vw;
         height: calc(100vh - var(--G9_navbar_height));
         object-fit: cover;
         margin-bottom: -6px;
      }

      header .front_elemente {
         position: absolute;
         top: 0;
         padding: 30px;
         display: flex;
         flex-direction: row;
         flex-wrap: nowrap;
         justify-content: space-between;
         height: calc(100vh - var(--G9_navbar_height));
         width: 100%;
      }

      .baum_links {
         max-height: 80vh;
         width: 15%;
         align-self: self-end;
         object-fit: contain;
      }

      .text_header {
         max-height: 75vh;
         width: 70%;
         align-self: self-end;
         padding-bottom: 40px;
         object-fit: contain;
      }

      .text_header_portrait {
         /* max-height: 75vh;
         width: 70%; */
         align-self: self-end;
         padding-bottom: 40px;
         object-fit: contain;
      }

      .baum_rechts {
         max-height: 60vh;
         width: 15%;
         align-self: self-end;
         object-fit: contain;
      }

      @media (max-width: 991px) {
         .baum_links { display: none; }
         .text_header { width: 100%; }
         .text_header_portrait { width: 100%; }
         .baum_rechts { display: none; }
      }

      @media (max-width: 600px) {
         .text_header { padding-bottom: 0; align-self: center; }
         .text_header_portrait { padding-bottom: 0; align-self: center; }
      }


/* Fein-Layout nav */

      .inside_nav {
         display: flex;
         flex-wrap: nowrap;
         justify-content: space-between;

         max-width: 1120px;
         margin: 0 auto 0 auto;
         padding: 3px 30px;

         height: var(--G9_navbar_height);
      }

      nav {
         position: sticky;
         position: -webkit-sticky;
         top: 0;
         background-color: var(--G9_dunkelgrün);
         border-bottom: 1px solid var(--G9_hellgrau);
      }

      .inside_nav ul {
         list-style: none;
         display: flex;
         flex-wrap: nowrap;
         justify-content: space-between;
         align-items: center;
         color: white;
         padding: 0;
         margin-bottom: 0;
      }

      .inside_nav li a {
         display: block;
         width: 80px;
         height: var(--G9_navbar_height);
         text-align: center;
         line-height: var(--G9_navbar_height);
         border-left: 1px solid white;
         padding: 0 3px 0 3px;
         transition: all .25s ease-in;
         color: white;
         text-decoration: none;
         font-size: 16px;
      }

      .inside_nav li:last-child {
         border-right: 1px solid white;
      }

      .inside_nav li a:hover, 
      .inside_nav li a:focus {
         background-color: var(--G9_hellgrau);
         color: var(--G9_dunkelgrün);
      }

      @media (hover: none) {
         .inside_nav li a:hover, 
         .inside_nav li a:focus {
            background-color: var(--G9_hellgrau);
            color: var(--G9_dunkelgrün);
         }

         .inside_nav li a:visited {
            background-color: var(--G9_dunkelgrün);
            color: white;
         }
      }

      .inside_nav img {
         width: 100%;
         height: 100%;
         object-fit: contain;
      }

      @media (max-width: 450px) {
         .inside_nav img { display: none; }
         .inside_nav { padding: 3px 0px; }
         .inside_nav ul { justify-content: center; }
         .inside_nav li a { width: 25vw; }
      }


/* Fein-Layout ueber-uns */



/* Fein-Layout line-up */

      .line-up a {
         color: white;
      }

      .line-up .genres {
         font-style: italic;
         text-align: center;
      }

      .line-up .weitere_bands_folgen {
         font-weight: bold;
         text-align: center;
      }

      .bandtext {
         background-color: var(--G9_dunkelgrün);
         color: white;
         padding: 30px;
         font-weight: lighter;
      }

      .line-up {
         display: flex;
         flex-direction: column;
      }

      .line-up img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         object-position: 50%;
      }

      #fosten {
         width: 100%;
         height: 100%;
         object-fit: cover;
         object-position: 100%;
      }

      #blackscreen {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
      }

      .line-up .band_foto_links {
         display: grid;
         grid-template-columns: 35fr 65fr;
         margin-bottom: 40px;
      }

      .line-up .band_foto_rechts {
         display: grid;
         grid-template-columns: 65fr 35fr;
         margin-bottom: 40px;
      }   

      @media (max-width: 600px) {
         .line-up .band_foto_links { grid-template-columns: 1fr; }
         .line-up .band_foto_rechts { grid-template-columns: 1fr; }
         .line-up .band_foto_rechts .bandtext { order: 2; }
         .line-up .band_foto_rechts .bandfoto { order: 1; }
      }

      @media (max-width: 710px) {
         #blackscreen { flex-direction: column; }
      }





/* Fein-Layout tickets */

      .tickets .ab_18 {
         text-align: center;
         font-weight: bold;
         margin: 40px 0 0 0;
      }

      .tickets .ab_18 p {
         display: inline;
         padding: 5px;
         color: white;
         background-color: var(--G9_dunkelgrün);
      }


/* Fein-Layout infos */

      .info_bild {
         display: block;
         margin: 0 auto 50px auto;
         max-height: 300px;
      }

      .info_articles {
         display: grid;
         grid-template-columns: 1fr 1fr;
         grid-gap: 50px;
      }

      @media (max-width: 640px) {
         .info_articles { grid-template-columns: 1fr; }
      }


/* Fein-Layout footer */

      footer {
         background-color: var(--G9_hellgrün);
         border-top: 1.5px solid var(--G9_dunkelgrün);
         margin-top: 100px;
         font-size: 14px;
      }

      footer .inside {
         display: flex;
         flex-direction: column;
      }

      footer .inside section {
         margin-top: 20px;
      }

      .unterstuetzer h5 {
         font-weight: lighter;
         margin: 0;
         font-size: 14px;
      }

      .unterstuetzer_logos {
         display: flex;
         flex-direction: row;
      }

      .unterstuetzer_logos a {
         display: block;
         height: 60px;
         width: 60px;
         margin: 10px 10px 10px 0;
      }

      .unterstuetzer_logos img {
         height: 100%;
         object-fit: contain;
      }

      .footer_links ul {
         padding: 0;
         text-align: right;
      }
      
      .footer_links li {
         list-style: none;
      }

      .copyright {
         color: gray;
         text-align: center;
      }